/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
duparkerersomenidiot.no.sublime-project
duparkerersomenidiot.no.sublime-workspace
public/image/submissions/*
!public/image/submissions/parkering1.jpg
!public/image/submissions/parkering2.jpg
!public/image/submissions/parkering3.jpg
!public/image/submissions/parkering4.jpg
!public/image/submissions/parkering5.jpg
!public/image/submissions/parkering6.jpg
!public/image/submissions/parkering7.jpg
!public/image/submissions/parkering8.jpg
!public/image/submissions/parkering9.jpg
